[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"boto3" = "*"
requests = "*"
click = "*"

[dev-packages]
"flake8" = "*"
pytest = "*"
pytest-cov = "*"
"pytest-flake8" = "*"
